@model IEnumerable<Description>
@using SysExp.Models.ViewModels


@{ foreach (var item in Model)
    {
        if (item.Name == "About")
        {
            <br />
            <div style="color: #363636; border-radius: 10px; border: 3px solid #e2e2e2; background-color: #ffffff">
                <img src="~/Images/ZJ.jpg.png" width="100" class="ml-3 mb-2" />
                <div class="text-lg-left col-12">

                    @Html.Raw(item.TextArea1)
                </div>
            </div>

        }

        if (item.Name == "Strategies")
        {
            <br />
            <div style="color: #363636; border-radius: 10px; border: 3px solid #e2e2e2; background-color: #ffffff">
                <div class="text-lg-left col-12">

                    @Html.Raw(item.TextArea1)
                </div>
                <div class="text-lg-left col-12">
                    @Html.Raw(item.TextArea2)
                </div>
                <a asp-action="AllSChart" asp-controller="Home" asp-area="Visitor" class="bnt btn-light btn-block btn text-center text-white" style="background-color: #FC6471">Got To Charts</a>
                <div style="height: 5px"></div>
            </div>

        }

        if (item.Name == "Portfolio")
        {
            <br />

            <div style="color: #363636; border-radius: 10px; border: 3px solid #e2e2e2; background-color: #ffffff">
                <div class="text-lg-left col-12">
                    @Html.Raw(item.TextArea1)
                </div>
                <div class="text-lg-left col-12">
                    @Html.Raw(item.TextArea2)
                </div>
                <a asp-action="AllSChart" asp-controller="Home" asp-area="Visitor" class="bnt btn-light btn-block btn text-center text-white" style="background-color: #FC6471">Got To Charts</a>
                <div style="height: 5px"></div>
            </div>


        }

        if (item.Name == "Paper Trading")
        {
            <br />
            <div style="color: #363636; border-radius: 10px; border: 3px solid #e2e2e2; background-color: #ffffff">
                <div class="text-lg-left col-12">

                    @Html.Raw(item.TextArea1)
                </div>

                <div class="text-lg-left col-12">
                    @Html.Raw(item.TextArea2)
                </div>

            </div>


        }

        if (item.Name == "Contacts")
        {
            <br />
            <div class="row align-items-center text-center" style="color: #363636; border-radius: 10px; border: 3px solid #e2e2e2; background-color: #ffffff">
                <div class="col-6">
                    <a href="mailto:zilvinoj@gmail.com" style="color:#266DD3;">zilvinoj@gmail.com</a>
                    <p>Phone: +370 640 18866</p>
                    <a href="https://www.linkedin.com/in/zilvinas-juodis/"><i class="fab fa-linkedin" style="color:#266DD3;font-size: 30px"></i></a>
                    <a href="https://www.facebook.com/zilvinas.juodis/"><i class="fab fa-facebook-square ml-1" style="color:#266DD3;font-size: 30px"></i></a>
                </div>
                <div class="bg-light col-6">
                    <a asp-action="AllSChart" asp-controller="Home" asp-area="Visitor"><img src="~/Images/StileShape.png" class="img-fluid" /></a>
                </div>
            </div>
        }

    }
}



