@model SysExp.Models.ViewModels.HomeIndexViewModel
@using SysExp.Models

@{
    ViewData["Title"] = "Home Page";

    string chartTitle = "Portfolio: " + Enum.GetName(typeof(SysExp.Models.ViewModels.ToChartViewModel.EPortfolios), @Model.Portfolios);
    string chartUnit = "NetProfit";


}


    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1 justify-content-center">
                    @foreach (var item in Model.Category)
                    {
                        @if (item.Name == "About")
                        {
                            <a asp-action="Index" asp-route-filterString="@item.Name"><li class="btn shadow m-1 active font-weight-normal" style="color: #ffffff;background-color: #366DD3; width: 125px">@item.Name</li></a>
                        }
                        @if (item.Name == "Strategies")
                        {
                            <a asp-action="Index" asp-route-filterString="@item.Name"><li class="btn shadow m-1 active font-weight-normal" style="color: #ffffff;background-color: #366DD3; width: 125px">@item.Name</li></a>
                        }
                        @if (item.Name == "Portfolio")
                        {
                            <a asp-action="Index" asp-route-filterString="@item.Name"><li class="btn shadow m-1 active font-weight-normal" style="color: #ffffff;background-color: #366DD3; width: 125px">@item.Name</li></a>
                        }
                        @if (item.Name == "Charts")
                        {
                            <a asp-action="AllSChart" asp-controller="Home" asp-area="Visitor" asp-route-filterString="@item.Name">
                                <li class="btn shadow m-1 active font-weight-normal" style="color: #ffffff;background-color: #366DD3; width: 125px">@item.Name</li>
                            </a>
                        }
                        @if (item.Name == "Paper Trading")
                        {
                            <a asp-action="Index" asp-route-filterString="@item.Name"><li class="btn shadow m-1 active font-weight-normal" style="color: #ffffff;background-color: #366DD3; width: 125px">@item.Name</li></a>
                        }
                        @if (item.Name == "Contacts")
                        {
                            <a asp-action="Index" asp-route-filterString="@item.Name"><li class="btn shadow m-1 active font-weight-normal" style="color: #ffffff;background-color: #366DD3; width: 125px">@item.Name</li></a>
                        }

                    }
                </ul>
            </div>
        </div>
    </nav>




@if (Model.CategoryFilter.Count() == 1)
{
    @foreach (var item in Model.CategoryFilter)
    {

        <!--<h4 class="font-weight-bolder" style="color:#266DD3">
        @item.Name
        </h4>-->

        if (item.Name == "Charts")
        {

            <div class="container" style="margin-bottom: 0px">

                <div class="text-center">

                    <div class="col-12 text-center" id="curve_chart" style="max-width: 1200px; height: 400px"></div>

                </div>

                <form asp-action="OneSChart" asp-controller="Home" asp-area="Visitor" asp-route-filterstring="Charts" class="text-light text-center" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <label class="col-form-label" style="color: #363636">Select portfolio from a list:</label>
                    <div class="form-group row justify-content-center">

                        <select asp-for="Portfolios" asp-items="@Html.GetEnumSelectList<SysExp.Models.ViewModels.ToChartViewModel.EPortfolios>()" class="form-control  col-4 col-lg-2" onchange="this.form.submit()"></select>
                        <div>     </div>
                        <!--<input type="submit" value="Submit" class="btn btn-light ml-2" style="color: #FFFFFF; background-color: #266DD3" />-->
                    </div>
                </form>

                <div class="col-12 align-items-center text-center ml-1">
                    *Paper trading Results.<a asp-action="Index" asp-controller="Home" asp-area="Visitor" asp-route-filterString="Paper Trading" class="text-center" style="color:#266DD3"> See more about paper trading.</a>
                    Next update after will be after @Model.ChartDataList.Last().Date.AddMonths(2).ToString("d/M/yyyy");
                </div>
            </div>
        }

        <div style="color: #363636; background-color: #FFFFFF">
            <partial name="_TextArea1Partial" model="@Model.Description.Where(u => u.Name.Equals(item.Name))" />
        </div>

    }
}
else
{
    <br />
    <br />
    <div class="container-fluid">

        <div class="row  align-items-center">
            <div id="carouselExampleSlidesOnly" class="carousel slide col-6" data-ride="carousel">
                <div class="carousel-inner text-center" style="color: #266DD9; font-size: 26px">
                    <div class="carousel-item active">
                        Trend folowing and breakout logic.
                    </div>
                    <div class="carousel-item">
                        Long research.
                    </div>
                    <div class="carousel-item">
                        Transparent results.
                    </div>
                    <div class="carousel-item">
                        Scalable.
                    </div>
                </div>
            </div>
            <div class="col-6">
                <img src="~/Images/StileShape.png" class="img-fluid align-self-center" />
            </div>
        </div>
    </div>
}


<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Year', 'ES CZHV' ,'ES Baras', 'All CHZV', 'All Baras'],

            @{
                foreach (var data in Model.SortedListData) {

                 <text>['@data.Key.ToString("yyyy/M/dd")', @data.Value[0], @data.Value[1], @data.Value[2], @data.Value[3]],</text>
                }

            }
        ]);

        var options = {

            backgroundColor: '#FFFFFF',
            series: {
                0: { color: '#FC6471' },
                1: { color: '#266DD3' },
                2: { color: '#7F2CCB' },
                3: { color: '#363636' },
            },
            title: '@chartTitle',

            legend: {position: 'right', textStyle: {fontSize: 10}},
            pointsVisible: false,
            lineWidth: 2,
            hAxis: { title: 'Date', format: 'yyyy-MM-dd', width: 20, textStyle: {fontSize: 10}},
            vAxis: { title: '@chartUnit', width: 150, height: 10, fontSize: 1 , textStyle: {fontSize: 10} },
            width: '100%',
            height: '100%',
            chartArea: {width: '45%', height: '50%', backgroundColor: '#FFFFFF'}
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
        chart.draw(data, options);
    }
</script>


<script>
    $(document).ready(function () {

        if (screen.width >= 1200) {
            $("#dots").hide();
        }
        else {

            $("#dots").show();
        }

    });
</script>

<script>
    $(document).ready(function () {

        if (screen.width >= 1200) {
            $("#menuextend").addClass("col-12");
        }


    });
</script>


